.delete-btn {
    background-color: red;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.edit-btn {
    background-color: green;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.user-save-btn {
    background-color: #16A5E7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.add-user-btn {
    background-color: #2176CB;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}